# ===========
# Executável
# ===========

*.exe

# =============
# Arquivo objeto 
# =============

*.o

# ======================
# Configurações do VScode
# ======================

.vscode/

# ===================
# Arquivos temporários
# ===================

*.tmp
*~

 